apiVersion: v1
kind: Secret
metadata:
  name: codeberg-homelab-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: git@codeberg.org:terminalnode/k8s-homelab.git
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    <enter your codeberg SSH key here>
    -----END OPENSSH PRIVATE KEY-----
